body {
    color: black;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    font-weight: bold;
}

header {
    background-color: #d5d812;
    color: white;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    color: white;
    text-align: center;
    font-size: 32px;
    text-shadow: 0 0 5px #000;
}

.button-list {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 20px 0;
}

.button-list li {
    display: inline;
    margin: 0 10px;
}

.button-list a {
    text-decoration: none;
    color: white;
    background-color: #d5d812;
    padding: 10px 20px;
    border-radius: 5px;
}

.button-list a:hover {
    background-color: #38390a;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.contact-info {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info p {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 10px 0;
}

.contact-info p .icon {
    margin-right: 10px;
    font-size: 24px;
    color: #d5d812;
}

.contact-info p a {
    color: #d5d812;
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-size: 20px;
}

@media (max-width: 768px) {
    body {
        font-size: 18px;
    }

    header h1 {
        font-size: 24px;
    }

    .button-list li {
        display: block;
        margin: 10px 0;
    }

    .button-list a {
        display: block;
        padding: 10px;
    }

    .contact-info p {
        font-size: 18px;
    }

    footer {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    .contact-info p {
        font-size: 16px;
    }

    .contact-info p .icon {
        font-size: 20px;
    }

    footer {
        font-size: 14px;
    }
}
